body {

    width: 100vw;
    max-width: 100vw;
    padding: 0;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.954);
    background-image: linear-gradient(5deg, rgba(24, 21, 21, 0.685), rgba(32, 17, 50, 0.753));

    /* overflow-y: hidden; */
    overflow-x: hidden;

    cursor: default;
}

#dynamic-background{
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: -1;
   object-fit: cover;
   transition: all 200s;
}

header{

    position: sticky;
    z-index: 1000;

    width: 100%;
    height: fit-content;
    padding: 4px 0 2px 0;

    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(169, 111, 255, 0.525);
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: center;

    color: azure;
    
}

#telescope {
    position: absolute;
    z-index: 1000;
    top: 1vh;
    left: 0;
    width: 25%;
    transition: transform 10s, width 40s;
    opacity: 0.95;
}

#title-container{
    display: inline-flex;
    flex-wrap: nowrap;
    cursor: default;
}

#flex-column-container{
    width: fit-content;

    margin-left: 5vw;

    display: flex;
    flex-direction: column;


}

#title{
    width:100%;
    height: 100%;
    margin:0;
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    font-family: monospace;
    font-style: oblique;
    font-weight: 900;
    font-size: 38px;

    opacity: 0.9;
}

#version-number{
    width: 100%;
    height: fit-content;

    text-align: end;

    margin: 0;
    padding: 0;

    font-family: 'Courier New', Courier, monospace; 
    font-style: oblique;
    font-size: 1.5vh;
}

#presentation {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto 45%;

    /* backdrop-filter: blur(0px); */
}

#presentation-text{

    width: 100%;
    position: relative;
    font-family: monospace;
    font-style: oblique;
    font-weight: 900;

    color: rgb(243, 238, 255);


}

#presentation-text-1{
    padding: 0 40px 0 60px;
    margin: 0 30px 0px 0;
    /* font-size: 10vh; */
    font-size: 5.5vw;
    font-style: normal; 
    font-weight: 300;
    text-align: right;

    backdrop-filter: blur(2px);

}

#presentation-text-2{
    padding: 2vw;
    font-size: 23px ;
    margin: 0; 
    font-style: normal; 
    font-weight: 300;
    
}

.container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    padding: 20px 40px 20px 20px;
}

.media-container{

    width: 100%;
    min-width: 100%;
    height: 100%;
    padding: 20px 10px 20px 10px;
    margin: 0;

    display: grid;
    grid-template-rows: 85% 15%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 2vh;
    
    border-style: solid;
    border-color: rgba(245, 245, 245, 0.361);
    border-width: 1px;
    border-radius: 10px;

    background-color: rgba(95, 95, 95, 0.103);
    backdrop-filter: blur(5px);
}

#system-menu{

    width: 100%;
    margin: 0 0vw 0 0vw;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 2vw;

    color: whitesmoke;
}

.system-option{

    border-style: solid;
    border-color: rgba(245, 245, 245, 0.361);
    border-width: 2px;
    border-radius: 5px;

    cursor: pointer;

    padding: 4px;
}

.system-option:hover{

    scale: 1.05;
}

.os-symbol{

    width: 40px;
    height: 40px;

    margin: 0;
    padding: 0;

    border-style: none;
    background-color: transparent;
    color: whitesmoke;

    cursor: pointer;
}

#instructions-container{

    background-color: rgba(46, 42, 42, 0.724);

    width: 100%;
    height: 100%;

    border-style: solid;
    border-color: rgba(31, 25, 25, 0.797);
    border-width: 4px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}


.scrollable-container{

    display: inline-flex;
    flex-wrap: nowrap;

    text-overflow:clip;
    text-wrap: nowrap;

    width: 35vw;
    height: 40vh;
    padding: 1vw;

    overflow-y: scroll;
	overflow-x: scroll;

	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
    scrollbar-color: rgb(255, 255, 255) rgba(43, 45, 43, 0.756);
	-webkit-overflow-scrolling: touch;
}

.instructions-text{
    margin: 0vh 0 0 0;
}

#menu-container{

    width: 100%;
    height: fit-content;
    padding: 1vw 0 0 0vw;
    margin: 0vh 0 4vh 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    /* background-color: rgba(41, 56, 65, 0.614); */
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(255, 77, 148, 0.525);
    backdrop-filter: blur(5px);

    border-top: 2px solid rgba(255, 222, 222, 0.454);

}


#menu {
    width: 90%;
    max-width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    justify-items: center;
    gap: 10vh;

    color: azure;
}



.menu-button-container{
    display: grid;
    grid-template-rows: 60% 40%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: left;

    padding: 2vh 0 0vh 0;
}


.menu-button{

    background-color: transparent;

    background-size: cover;
    width: 120px;
    height: 120px;
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);

    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(245, 245, 245, 0.429);

    opacity: 0.95;

    cursor: pointer;

    transition: all 0.2s;

    padding: 0;

}

.menu-button:hover{
    scale: 1.03;
    opacity: 1;
}

.button-title{
    padding: 3px 0 3px 0;
    margin: 62px 0 0 0;

    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.696);
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);
    
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0);

    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: rgba(49, 46, 46, 0.349);

    opacity: 1;
}

.menu-button-info{

    font-style: normal;
    font-weight: 400;

    width: 10vw;
    height: fit-content;
    margin: 0.5vw 0 0.5vw 0;

    /* text-align: justify; */
}

#docs-button {
    background-image: url(./images/docs.jpg);
    background-size: cover;
}

#downloads-button {
    background-image: url(./images/downloads.png);
    background-size: cover;
}

#community-button {
    background-image: url(./images/community.jpg);
    background-size: cover;
}

#the-team-display-container{
    width: 100%;
    height: fit-content;

    margin: 3vh 0 3vh 0;
    padding: 2vh 0vw 2vh 0;

    backdrop-filter: blur(5px);
    background-image: linear-gradient(45deg, rgba(48, 40, 40, 0.594), transparent);
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);   

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 2vw;
    color: azure;
}

#the-team-display {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: stretch;
    color: azure;
}

#the-team-title{
    text-align: right; 
    text-justify: center; 
    font-family: monospace; opacity: 0.4; 
    font-size: 8vh; 
    margin: 0 0 0 0;
}


.inline-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    justify-items: center;
    gap: 4vh;
}

.team-button-container{
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    padding: 0px 0 0px 0;
    gap:0;
}

.dev-name{
    margin: 0;
    padding: 0 ;
    font-family: monospace ;
    font-style: normal;
    font-weight: 300;
    color: rgb(241, 241, 241);

    opacity: 1;
}

.team-button{

    background-color: transparent;

    background-size: cover;
    width: 105px;
    height: 105px;
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);

    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: rgba(245, 245, 245, 0.429);

    opacity: 0.7;

    cursor: pointer;

    transition: all 0.2s;

    padding: 0;

}

.team-button:hover{
    scale: 1.03;
    opacity: 0.95;
}

#dev1-button {
    background-image: url(./images/dev1.png);
    background-size: contain;
}

#dev2-button {
    background-image: url(./images/dev2.png);
    background-size: contain;
}

#dev3-button {
    background-image: url(./images/dev3.png);
    background-size: contain;
}

#buymeacoffee-button{
    opacity: 0.8;
}

#buymeacoffee-button:hover{
    scale: 1.01;
    opacity: 1;
}

#community-display-container{
    width: 100%;
    height: fit-content;

    margin: 0vh 0 3vh 0;
    padding: 2vw 0 5vh 0;

    border-radius: 40px;

    background-image: url(./images/background2.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}


#the-community-title{
    font-family: monospace;
    opacity: 0.4; 
    color: white; 
    font-size: 7vh;

    align-self: flex-start;
    margin: 0 0 0 4vh;
}

#the-community-display {
    width: 80%;
    height:fit-content;
    margin-top: 5vh;

    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    color: azure;

    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgba(245, 245, 245, 0.249);
}



#datawrapper-chart-t4fiQ{
    width:100%;
    height: 45vw; 
    padding: 2vw; 
    align-self: center; 
    justify-self: center; 
    color-scheme: dark;
}

.code-box {

    width: 30vw;
    max-width: 30vw;
    height: fit-content;
    position: relative;

    margin: 10px 0 10px 0;

    overflow-x: hidden;


    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    justify-items: center;

    background-color: #26232354;
    padding: 10px 0 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

    
}

.copy-button {
    position: absolute;
    right: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

pre{
    padding: 0;
    margin: 0;
}

#instructions-container a{
    
    background-color: whitesmoke;

    padding: 5px;
    line-height: 2.5;

    color: blue;
    font-weight: 800;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(245, 245, 245, 0.783);
    text-decoration: none;
    
    opacity: 0.7;

    transition: all 0.1s;
}

#instructions-container a:hover{
    opacity: 1;
}