@media only screen and (max-width:650px) {

    #presentation{

        width: 100%;
        height: fit-content;
        margin: 20vh 0 5vh 0;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        gap: 0;
        

    }
    
    #presentation-text-1{
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 7vh;
        font-style: normal; 
        font-weight: 300;
    }

    #presentation-text-2{
        width: 100%;
        padding: 6vw 0vw 2vw 0vw;
        margin: 0;
        font-size: 3vh;
        font-style: normal; 
        font-weight: 300;

        text-align: justify;
        
    }

    .social-media-mod{
        scale: 0.7;
    }

    #social-media-links{
        width: fit-content;
        height: 100%;
    
        display: flex;
        flex-direction: row;
        align-items: center;
    
        margin-right: 5vw;
        gap: 0vw;
        
    }


    .container{
    
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
    
        padding: 0;
    }
    

    .media-container{

        width: 100%;
        min-width: 100%;
        height: 100%;
        padding: 20px 10px 20px 10px;
        margin: 2vh 0 0 0;

    }    

    #instructions-container{

        background-color: rgba(46, 42, 42, 0.724);
    
        width: 80vw;
        height: 100%;
    }
    
    

    .scrollable-container{

        min-height: 20vh;

        display: inline-flex;
        flex-wrap: nowrap;
    
        text-overflow:clip;
        text-wrap: nowrap;
    
        width: fit-content;
        height: fit-content;
        

    }

    
#the-community-display {
    width: 80%;
    height:fit-content;
    margin-top: 5vh;
}



#datawrapper-chart-t4fiQ{
    width:100%;
    height: 46vh; 
    padding: 2vw; 
    align-self: center; 
    justify-self: center; 
    color-scheme: dark;
}

}